<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Shipment</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
  </head>

  <body>
    <div class="back"></div>
    <div class="bg-image">
    <div
      class=""
    >
      <div class="container bg-light mt-2 p-5 mx-auto">
        <!-- <div class="container mt-0 mx-auto p-5"> -->
          <h1 class="mx-auto my-0">Add Shipment</h1>
          <form>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-2">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="orderId" class="form-control" />
                  <label class="form-label" for="orderId">Order Id</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="carrierId" class="form-control" />
                  <label class="form-label" for="carrierId">Carrier Id</label>
                </div>
              </div>
            </div>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-2">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="warehouseId" class="form-control" />
                  <label class="form-label" for="warehouseId">
                    Warehouse Id</label
                  >
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input
                    type="text"
                    id="status"
                    class="form-control"
                  />
                  <label class="form-label" for="status"
                    >Status(Preparing, Dispatched, Delivered)
                  </label>
                </div>
              </div>
            </div>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-2">
              <div class="col">
                <div class="form-outline">
                  <input
                    type="date"
                    id="shipmentDate"
                    class="form-control"
                  />
                  <label class="form-label" for="shipmentDate">
                    Shipment Date</label
                  >
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="date" id="estimatedDeliveryDate" class="form-control" />
              <label class="form-label" for="estimatedDeliveryDate"
                >Estimated Delivery Date</label
              >
                </div>
              </div>
            </div>
            

            

            <!-- Submit button -->
            <button type="submit" class="btn bg-orange text-white btn-block mb-1">
              Create shipment
            </button>
          </form>
        </div>
      <!-- </div> -->
    </div>
  </body>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/my.js}"></script>
</html>
