<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Complaint</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
  </head>

  <body>
    <div class="back"></div>
    <div class="bg-image">
    <div
      class=""
    >
      <div class="container bg-light mt-5 p-5 mx-auto">
          <h1 class="mx-auto my-0">Add a Complaint</h1>
          <form th:action="@{'/complaint/' + ${complaint.complaintId}}" method="post" th:object="${complaint}">
            <input
                          type="hidden"
                          th:name="_method"
                          th:value="put"
                        />
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-2">
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="userId" th:field="*{userId}" class="form-control" />
                  <label class="form-label" for="userId">User Id</label>
                </div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="orderId" th:field="*{orderId}" class="form-control" />
                  <label class="form-label" for="orderId">Order Id</label>
                </div>
              </div>
            </div>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-2">
              <div class="col">
                <div class="form-outline">
                  <input type="email" id="email" th:field="*{email}" class="form-control" />
                  <label class="form-label" for="email">
                    Contact Email</label
                  >
                </div>
              </div>
              <!-- <div class="col">
                <div class="form-outline">
                  <input
                    type="text"
                    id="contact"
                    class="form-control"
                  />
                  <label class="form-label" for="contact"
                    >Contact Number
                  </label>
                </div>
              </div> -->
            </div>
        
            <!-- Text input -->
            <div class="form-outline mb-2">
              <input type="text" id="description" th:field="*{description}" class="form-control" />
              <label class="form-label" for="description"
                > Description</label
              >
            </div>
            
            <!-- Submit button -->
            <button type="submit" class="btn bg-orange text-white btn-block mb-1">
                Submit
            </button>
          </form>
        </div>
      <!-- </div> -->
    </div>
  </body>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/my.js}"></script>
</html>
