<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <title>Admin_Dashboard Employees</title>
  </head>
  <body>
    <div th:replace="fragments/admin_dashboard_navbar :: header"></div>
    <div class="container mx-0">
      <div class="row">
        <div th:replace="fragments/admin_dashboard_sideNav :: nav"></div>
      </div>
    </div>
  </body>
</html>
