<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <!-- <link
      rel="icon"
      type="image/x-icon"
      th:href="@{/icons/icons8-truck-50.png}"
    /> -->
    <title>Admin_Dashboard_customers</title>
  </head>
  <body>
    <div class="mx-0">
      <div class="row w-full">
        <div class="col-2 vh-100">
          <div th:replace="fragments/admin_dashboard_sideNav :: nav"></div>
        </div>
        <div class="col-10 pt-4 mt-5 px-2">
          <div class="container rounded bg-white">
            <div class="d-flex align-items-center justify-content-between my-2 p-4">
              <div class="h2 font-weight-bold">Customers</div>
              <input
                class="form-control border  w-50  rounded-5 border-3"
                type="text"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn bg-orange text-white">
                  <a th:href="@{/admin/addCustomer}" class="text-white">Add Customer</a>
                </button>
            </div>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Customer ID</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date Of Birth</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Address</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="my-3 bg-blue" th:each="customer : ${customers}">
                    
                    <td class="pt-3 " th:text="${customer.userId}"></td>
                    <td class="pt-3" th:text="${customer.firstName}"></td>
                    <td class="pt-3" th:text="${customer.username}"></td>
                    <td class="pt-3" th:text="${customer.dateOfBirth}"></td>
                    <td class="pt-3" th:text="${customer.contact}"></td>
                    <td class="pt-3" th:text="${customer.address}"></td>
                    <td class="pt-3">Edit</td>
                    <td class="pt-3">Delete</td>
                  </tr>

                  <tr class="bg-blue my-5">
                    <td class="pt-3">1</td>
                    <td class="pt-3">dummy</td>
                    <td class="pt-3">dummy@gmail.com</td>
                    <td class="pt-3">10/10/2003</td>
                    <td class="pt-3">329402384</td>
                    <td class="pt-3">
                      Lorem, ipsum dolor Lorem ipsum dolor sit amet.
                    </td>
                    <td class="pt-3">Edit</td>
                    <td class="pt-3">Delete</td>
                  </tr>
                  <tr class="bg-blue my-5">
                    <td class="pt-3">1</td>
                    <td class="pt-3">dummy</td>
                    <td class="pt-3">dummy@gmail.com</td>
                    <td class="pt-3">10/10/2003</td>
                    <td class="pt-3">329402384</td>
                    <td class="pt-3">
                      Lorem, ipsum dolor Lorem ipsum dolor sit amet.
                    </td>
                    <td class="pt-3">Edit</td>
                    <td class="pt-3">Delete</td>
                  </tr>
                  <tr class="bg-blue my-5">
                    <td class="pt-3">1</td>
                    <td class="pt-3">dummy</td>
                    <td class="pt-3">dummy@gmail.com</td>
                    <td class="pt-3">10/10/2003</td>
                    <td class="pt-3">329402384</td>
                    <td class="pt-3">
                      Lorem, ipsum dolor Lorem ipsum dolor sit amet.
                    </td>
                    <td class="pt-3">Edit</td>
                    <td class="pt-3">Delete</td>
                  </tr>
                  <tr class="bg-blue my-5">
                    <td class="pt-3">1</td>
                    <td class="pt-3">dummy</td>
                    <td class="pt-3">dummy@gmail.com</td>
                    <td class="pt-3">10/10/2003</td>
                    <td class="pt-3">329402384</td>
                    <td class="pt-3">
                      Lorem, ipsum dolor Lorem ipsum dolor sit amet.
                    </td>
                    <td class="pt-3">Edit</td>
                    <td class="pt-3">Delete</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/my.js}"></script>
  </body>
</html>
