<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Shipment</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
  </head>

  <body>
    <div class="back"></div>
    <div class="bg-image">
    <div
      class=""
    >
      <div class="container bg-light mt-2 p-5 mx-auto">
        <!-- <div class="container mt-0 mx-auto p-5"> -->
          <h1 class="mx-auto my-0">Dispatch Shipment</h1>
          <form th:action="@{'/dm/dispatchShipment/' + ${shipment.shipmentId}}" method="post" th:object="${shipment}">
            <input
                          type="hidden"
                          th:name="_method"
                          th:value="put"
                        />
           <input type="hidden" id="orderId" th:field="*{orderId}" class="form-control" />
           <input type="hidden" id="carrierId" th:field="*{carrierId}" class="form-control" />
           <input type="hidden" id="shipmentDate" th:field="*{shipmentDate}" class="form-control" />
           <input type="hidden" id="shipmentId" th:field="*{shipmentId}" class="form-control" />

            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-2">
              <!-- <div class="col">
                <div class="form-outline">
                  <input type="text" id="orderId" th:field="*{orderId}" class="form-control" />
                  <label class="form-label" for="orderId">Order Id</label>
                </div>
              </div> -->
              <div class="col">
                <div class="form-outline">
                  <input type="text" id="warehouseId" th:field="*{warehouseId}" class="form-control" />
                  <label class="form-label" for="warehouseId">Warehouse Id</label>
                </div>
              </div>
            </div>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-2">
              <!-- <div class="col">
                <div class="form-outline">
                  <input type="text" id="warehouseId" th:field="*{warehouseId}" class="form-control" />
                  <label class="form-label" for="warehouseId">
                    Warehouse Id</label
                  >
                </div>
              </div> -->
              <div class="col">
                <div class="form-outline">
                  <input
                    type="text"
                    id="status"
                    th:field="*{status}"
                    class="form-control"
                  />
                  <label class="form-label" for="status"
                    >Status(Preparing, Dispatched, Delivered)
                  </label>
                </div>
              </div>
            </div>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-2">
              <!-- <div class="col">
                <div class="form-outline">
                  <input
                    type="date"
                    id="shipmentDate"
                    th:field="*{shipmentDate}"
                    class="form-control"
                  />
                  <label class="form-label" for="shipmentDate">
                    Shipment Date</label
                  >
                </div>
              </div> -->
              <div class="col">
                <div class="form-outline">
                  <input type="date" id="estimatedDeliveryDate" th:field="*{estimatedDeliveryDate}" class="form-control" />
              <label class="form-label" for="estimatedDeliveryDate"
                >Estimated Delivery Date</label
              >
                </div>
              </div>
            </div>
            

            

            <!-- Submit button -->
            <button type="submit" class="btn bg-orange text-white btn-block mb-1">
              Update shipment
            </button>
          </form>
        </div>
      <!-- </div> -->
    </div>
  </body>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/my.js}"></script>
</html>
