<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <style>
      table td {
        vertical-align: top;
        border: solid 1px #888;
        padding: 10px;
      }
      .text-red{
        color: red;
      }
      .max-width-90 {
        max-width: 70vw;
      }
    </style>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  </head>
  <body>
    <div class="container max-width-90">
      <div class="mt-3-3 d-flex align-items-center justify-content-center">
        <div
          class="d-flex flex-column align-items-center justify-content-center"
        >
          <h2>SOMETHING WENT WRONG</h2>
          <div class="div max-width-90">

          
          <table class="max-width-90">
            <tr>
              <td>Date</td>
              <td th:text="${timestamp}" class="text-red max-width-90" />
            </tr>
            <tr>
              <td>Path</td>
              <td th:text="${path}" class="text-red max-width-90" />
            </tr>
            <tr>
              <td>Error</td>
              <td th:text="${error}" class="text-red max-width-90" />
            </tr>
            <tr>
              <td>Status</td>
              <td th:text="${status}" class="text-red max-width-90" />
            </tr>
            <tr>
              <td>Message</td>
              <td th:text="${message}" class="text-red max-width-90" />
            </tr>
            <tr>
              <td>Exception</td>
              <td th:text="${exception}" class="text-red max-width-90" />
            </tr>
            <tr>
              <td>Trace</td>
              <td>
                <pre th:text="${trace}" class="text-red max-width-90" />
              </td>
            </tr>
          </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
