<!DOCTYPE html>
<html lang="en" xmlns="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/css/style-index.css}" rel="stylesheet" />
  <link rel="icon" type="image/x-icon" th:href="@{/icons/icons8-truck-50.png}" />
  <title>Index</title>
</head>
<body>

  <body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">LogiMaster</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" th:href="@{/admin/dashboard/customers}">Admin Panel</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/wm/showWarehouse}">Warehouse Manager Panel</a></li>
                    
                    <li class="nav-item"><a class="nav-link" th:href="@{/dm/showCarrier}">Carrier Manager Panel</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{\login}">Log In</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{\signUp}">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container px-4 px-lg-5 h-100">
            <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-8 align-self-end">
                    <h1 class="text-white font-weight-bold">Welcome to LogiMaster: Your Logistics Solution</h1>
                    <hr class="divider" />
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 mb-5">Experience Effortless Logistics Management in Action.</p>
                    <a class="btn btn-primary btn-xl" href="#about">Watch Our System Optimize Your Supply Chain.</a>
                </div>
            </div>
        </div>
    </header>
    <!-- About-->
    <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="text-white mt-0">We've got what you need!</h2>
                    <h2 class="text-white mt-0">key Features: </h2>
                    <hr class="divider divider-light" />
                    <p class="text-white-75 mb-4">
                      LogiMaster streamlines logistics with efficient route planning, real-time shipment tracking, and inventory management. It ensures on-time deliveries, cost savings, and efficient orders fulfillment.</p>
                    <a class="btn btn-light btn-xl" href="#services">Get Started!</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">Benefits</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><img th:src="@{/icons/alarm.svg}" class="bi-globe text-primary" ></img></div>
                        <h3 class="h4 mb-2">Save Time and Money on Logistics Operations.</h3>
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><img th:src="@{/icons/person-heart.svg}" class="bi-globe text-primary" ></img></div>
                        <h3 class="h4 mb-2">Improve Efficiency and Customer Satisfaction</h3>
                    
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><img th:src="@{/icons/gear.svg}" class="bi-globe text-primary" ></img></div>
                        <h3 class="h4 mb-2">Enhance Supply Chain Visibility and Control.</h3>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
   
    <!-- Call to action-->
    <section class="page-section bg-dark text-white">
        <div class="container px-4 px-lg-5 text-center">
            <h2 class="mb-4">Sign Up New User</h2>
            <a class="btn btn-light btn-xl" th:href="@{/signUp}">Sign Up</a>
        </div>
    </section>
    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-8 col-xl-6 text-center">
                    <h2 class="mt-0">Let's Get In Touch!</h2>
                    <hr class="divider" />
                    <p class="text-muted mb-5"> Gets your Logistic Management System Now</p>
                </div>
            </div>
           
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-4 text-center mb-5 mb-lg-0">
                    <i class="bi-phone fs-2 mb-3 text-muted"></i>
                    <div>+91 9758021043 (INDIA)</div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2023 - LogiMaster</div></div>
    </footer>
 




  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/my.js}"></script>
</body>


</html>