<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/user_dashboard.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>User_Dashboard</title>
  </head>
  <body>
    <div class="back"></div>
    <div class="bg-image">
      <div th:replace="fragments/user_navbar"></div>

      <div class="container rounded mt-5 bg-white p-md-5">
        <div class="h2 font-weight-bold">Orders</div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Image</th>
                <th scope="col">Order Id</th>
                <th scope="col">Order Date</th>
                <th scope="col">Product Id</th>
                <th scope="col">Status</th>
                <th scope="col">Add Complaint</th>
              </tr>
            </thead>
            <tbody>
              <tr class="my-3" th:each="order : ${orders}">
                <td class="pt-2">
                  <img src="#" alt="Order-image" class="rounded-circle" />
                </td>
                <td class="pt-3" th:text="${order.orderId}"></td>
                <td class="pt-3" th:text="${order.orderDate}"></td>
                <td class="pt-3" th:text="${order.productId}"></td>
                <td class="pt-3" th:text="${order.status}"></td>
                <td class="pt-3">
                  <a th:href="@{/user/placeComplaint}" class="text-white"
                    >Complain</a
                  >
                </td>
              </tr>

              <tr class="bg-blue my-5">
                <td class="pt-2">
                  <img
                    src="https://images.pexels.com/photos/3765114/pexels-photo-3765114.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    class="rounded-circle"
                    alt=""
                  />
                  <div class="pl-lg-5 pl-md-3 pl-1 name">Anny Adams</div>
                </td>
                <td class="pt-3">26 Sep 2020</td>
                <td class="pt-3">11:00 AM</td>
                <td class="pt-3"><span class="fa fa-check pl-3"></span></td>
                <td class="pt-3"><span class="fa fa-ellipsis-v btn"></span></td>
                <td class="pt-3">
                  <a th:href="@{/user/placeComplaint}" class="text-white"
                    >Complain</a
                  >
                </td>
              </tr>
              <tr class="bg-blue mb-3">
                <td class="pt-2">
                  <img
                    src="https://images.pexels.com/photos/3779448/pexels-photo-3779448.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    class="rounded-circle"
                    bg-blue
                    alt=""
                  />
                  <div class="pl-lg-5 pl-md-3 pl-1 name">Arnold Linn</div>
                </td>
                <td class="pt-3">26 Sep 2020</td>
                <td class="pt-3">02:00 PM</td>
                <td class="pt-3"><span class="fa fa-check pl-3"></span></td>
                <td class="pt-3"><span class="fa fa-ellipsis-v btn"></span></td>
                <td class="pt-3">
                  <a th:href="@{/user/placeComplaint}" class="text-white"
                    >Complain</a
                  >
                </td>
              </tr>

              <tr class="bg-blue mb-3">
                <td class="pt-2">
                  <img
                    src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    class="rounded-circle"
                    alt=""
                  />
                  <div class="pl-lg-5 pl-md-3 pl-1 name">Josh Limosel</div>
                </td>
                <td class="pt-3">26 Sep 2020</td>
                <td class="pt-3">04:00 PM</td>
                <td class="pt-3"><span class="fa fa-minus pl-3"></span></td>
                <td class="pt-3"><span class="fa fa-ellipsis-v btn"></span></td>
                <td class="pt-3">
                  <a th:href="@{/user/placeComplaint}" class="text-white"
                    >Complain</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/my.js}"></script>
  </body>
</html>
