<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/user_dashboard.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <title>User_Complaints</title>
</head>
<body >
    <div class="back"></div>
    <div class="bg-image">
    <div th:replace="fragments/user_navbar"></div>

     
    <div class="container rounded mt-5 bg-white p-md-5">
      <div class="h2 font-weight-bold">Invoices</div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Order Id</th>
              <th scope="col">Order Date</th>
              <th scope="col">Product Id</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr class="my-3" th:each="order : ${orders}">
              <td class="pt-3" th:text="${order.orderId}"></td>
              <td class="pt-3" th:text="${order.orderDate}"></td>
              <td class="pt-3" th:text="${order.productId}"></td>
              <td class="pt-3" th:text="${order.status}"></td>
            </tr>
            
            <tr class="bg-blue my-5">
              <td class="pt-3">26 Sep 2020</td>
              <td class="pt-3">11:00 AM</td>
              <td class="pt-3"><span class="fa fa-check pl-3"></span></td>
              <td class="pt-3"><span class="fa fa-ellipsis-v btn"></span></td>
            </tr>
            <tr class="bg-blue mb-3">

              <td class="pt-3">26 Sep 2020</td>
              <td class="pt-3">02:00 PM</td>
              <td class="pt-3"><span class="fa fa-check pl-3"></span></td>
              <td class="pt-3"><span class="fa fa-ellipsis-v btn"></span></td>
            </tr>

            <tr class="bg-blue mb-3">

              <td class="pt-3">26 Sep 2020</td>
              <td class="pt-3">04:00 PM</td>
              <td class="pt-3"><span class="fa fa-minus pl-3"></span></td>
              <td class="pt-3"><span class="fa fa-ellipsis-v btn"></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/my.js}"></script>
</body>
</html>