 @import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&family=Poppins:wght@600&display=swap");

      * {
        box-sizing: border-box;
      }
      

      body {
        /* background-image: linear-gradient(to bottom left, #f4623a, #f47652, #f3896a, #f09b82, #ebac9a); */
        background-image: url('../images/backgroundblur.png');
        font-family: "Poppins", sans-serif;
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .h2 {
        color: #444;
        font-family: "PT Sans", sans-serif;
      }

      thead {
        font-family: "Poppins", sans-serif;
        font-weight: bolder;
        font-size: 20px;
        color: #666;
      }

      img {
        width: 40px;
        height: 40px;
      }

      .name {
        display: inline-block;
      }

      .bg-blue {
        background-color: #ffaa92;
        border-radius: 8px;
      }

      .fa-check,
      .fa-minus {
        color: blue;
      }

      .bg-blue:hover {
        background-color: #f4623a;
        color: #eee;
        cursor: pointer;
      }

      .bg-blue:hover .fa-check,
      .bg-blue:hover .fa-minus {
        background-color: #f4623a;
        color: #eee;
      }

      .table thead th,
      .table td {
        border: none;
      }

      .table tbody td:first-child {
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
      }

      .table tbody td:last-child {
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
      }

      #spacing-row {
        height: 10px;
      }

      @media (max-width: 575px) {
        .container {
          width: 125%;
          padding: 20px 10px;
        }
      }






      /* nav bar css*/
        a.navbar-brand {
            float: left;
            height: 50px;
            padding: 15px 15px;
            font-size: 18px;
            line-height: 20px;
            text-decoration: none;
            color: orangered;
            font-family: cursive;
            font-weight: 700;

        }

        nav.main-navigation {
            position: relative;
        }

        nav.main-navigation ul.nav-list {
            margin: 0;
            padding: 0;
            list-style: none;
            position: relative;
            text-align: right;
        }

        .nav-list li.nav-list-item {
            display: inline-block;
            line-height: 40px;
            margin-left: 30px;
            margin-top: 15px;
        }

        a.nav-link {
            text-decoration: none;
            font-size: 18px;
            font-family: sans-serif;
            font-weight: 500;
            cursor: pointer;
            position: relative;
            color: #404040;
        }

        @keyframes FadeIn {
            0% {
                opacity: 0;
                -webkit-transition-duration: 0.8s;
                transition-duration: 0.8s;
                -webkit-transform: translateY(-10px);
                -ms-transform: translateY(-10px);
                transform: translateY(-10px);
            }


            100% {
                opacity: 1;
                -webkit-transform: translateY(0);
                -ms-transform: translateY(0);
                transform: translateY(0);
                pointer-events: auto;
                transition: cubic-bezier(0.4, 0, 0.2, 1);
            }
        }

        .nav-list li {
            animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
            animation-fill-mode: both;
        }

        .nav-list li:nth-child(1) {
            animation-delay: .3s;
        }

        .nav-list li:nth-child(2) {
            animation-delay: .6s;
        }

        .nav-list li:nth-child(3) {
            animation-delay: .9s;
        }

        .nav-list li:nth-child(4) {
            animation-delay: 1.2s;
        }

        .nav-list li:nth-child(5) {
            animation-delay: 1.5s;
        }

        /* Animation */

        @keyframes fadeInUp {
            from {
                transform: translate3d(0, 40px, 0)
            }

            to {
                transform: translate3d(0, 0, 0);
                opacity: 1
            }
        }

        @-webkit-keyframes fadeInUp {
            from {
                transform: translate3d(0, 40px, 0)
            }

            to {
                transform: translate3d(0, 0, 0);
                opacity: 1
            }
        }

        .animated {
            animation-duration: 1s;
            animation-fill-mode: both;
            -webkit-animation-duration: 1s;
            -webkit-animation-fill-mode: both
        }

        .animatedFadeInUp {
            opacity: 0
        }

        .fadeInUp {
            opacity: 0;
            animation-name: fadeInUp;
            -webkit-animation-name: fadeInUp;
        }