<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav
          id="sidebarMenu"
          class=" bg-orange min-h-100 text-white"
        >
          
            <ul class="nav d-flex flex-column gap-5 p-4">
              <!-- <li class="nav-item p-2" th:onclick="|window.location.href='/admin/dashboard'|">
                Dashboard
              </li>
              <li class="nav-item p-2" th:onclick="|window.location.href='admin/dashboard/customers'|">
                Customers
              </li>
              <li class="nav-item p-2" th:onclick="|window.location.href='admin/dashboard/employees'|">
                Employees
              </li>
              <li class="nav-item p-2" th:onclick="|window.location.href='admin/dashboard/orders'|">
                Orders
              </li>
              <li class="nav-item p-2" th:onclick="|window.location.href='admin/dashboard/products'|">
                Products
              </li>
              <li class="nav-item p-2" th:onclick="|window.location.href='admin/dashboard/complaints'|">
                Complaints
              </li>
              <li class="nav-item p-2" th:onclick="|window.location.href='admin/dashboard/invoices'|">
                Invoices
              </li>
              <li class="nav-item p-2" th:onclick="|window.location.href='admin/dashboard/warehouses'|">
                Warehouses
              </li>
              <li class="nav-item p-2" th:onclick="|window.location.href='admin/dashboard/shipments'|">
                Shipments
              </li> -->
              <a href="/admin/dashboard/customers">
                <li class="nav-item" >
                  Customers
                </li>
              </a>
              <a href="/admin/dashboard/employees">
              <li class="nav-item">
                Employees
              </li>
              </a>
              <a href="/admin/dashboard/orders">
                <li class="nav-item">
                  Orders
                </li>
              </a>
              <a href="/admin/dashboard/products">
                <li class="nav-item">
                  Products
                </li>
              </a>
              <a href="/admin/dashboard/complaints">
                <li class="nav-item">
                  Complaints
                </li>
              </a>
              <a href="/admin/dashboard/invoices">
                <li class="nav-item">
                  Invoices
                </li>
              </a>
              <a href="/admin/dashboard/warehouses">
                <li class="nav-item">
                  Warehouses
                </li>
              </a>
              <a href="/admin/dashboard/shipments">
                <li class="nav-item">
                  Shipments
                </li>
              </a>
            </ul>
          
        </nav>
</body>
</html>